@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020615;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.heading {
    text-align: center; 
    font-size: 40px;
    color:#fff;
    margin-bottom: 50px;
}

.question-heading, .answer-heading {
    text-align: left;
    margin-bottom: 10px; 
    font-size: 20px;
    color:#fff;
}

label {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

.form-control {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px; 
    margin-bottom: 15px; 
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;
    display: inline block
}

.form-input {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px; 
    margin-bottom: 5px; 
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;
    display: inline block
}

.custom-control-input {
    display: inline block;
}

#time, #answer {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px; 
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;
}

#time {
    margin-bottom: 10px; 
}

#answer {
    margin-bottom: 30px; 
}

.btn {
    width: 100%;
    height: 60px;
    background-color: #fa3e73;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: #fa3e73;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #fa3e73;
}

.hide {
    display: none;
}

.start-quiz {
    text-align: left; 
    font-size: 20px;
    color:#fff;
    margin-bottom: 50px;
}

#done, #nxtQtn {
    height: 3rem;
    padding: 0px;
    margin: 0;
    margin-bottom: 10px;
}

#ready-banner {
    color: #fff;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

#titleOfQuiz, #madeBy, #timeOfQuiz, #totalQuestions, #passing {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 0.3
}

.custom-control-label {
    display: inline-block;
    margin-bottom: 0; 
    font-size: 12px;

}

.custom-control-input {
    margin-top: 4px; 
}

#restartQuiz, #nextPageButton {
    align-items: center;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: 30px;
    width: 49%;
    display: inline-block;
}

#returnHome {
    margin-top: 5px;
}

.custom-radio {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 3px solid #3f4868;
    margin-bottom: 10px;
    cursor: pointer;
}

#submitButton, #nextButton {
    width: 100%;
    height: 60px;
    background-color: #fa3e73;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

#timeIcon{
    height: 35px;
    width: 35px;
    vertical-align: text-bottom;
}

.text-timer {
    display: flex;
    align-items: end; 
    justify-content: end;
    gap: 10px;
}