@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020615;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center; 
    font-size: 40px;
    color:#fff;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

select {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px; 
    margin-bottom: 15px; 
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;
}

.btn {
    width: 100%;
    height: 60px;
    background-color: #fa3e73;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: #fa3e73;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #fa3e73;
}

.hide {
    display: none;
}

.timer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.timer .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 0;
    border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
    transition: 1s linear;
}

.timer .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.question-wrapper .number {
    color: #a2aace;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.question-wrapper .number .total {
    color: #576081;
    font-size: 18px;
}

.question-wrapper .question {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.answer-wrapper .answer {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.answer .checkbox {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.answer .checkbox .icon {
    opacity: 0;
}

.answer:hover .checkbox, .answer.selected .checkbox {
    background-color: #0c80ef;
    border-color: #0c80ef;
}

.answer.selected .checkbox .icon {
    opacity: 1;
}

.answer.correct {
    border-color: #0cef2a;
}

.answer.wrong {
    border-color: #fc3939;
}

.question-wrapper, .answer-wrapper {
    margin-bottom: 5px;
}

.btn.next {
    display: none;
}

.end-screen .score {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

.end-screen .score-text {
    color: #a2aace;
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width: 468) {
    .container {
        min-height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }
}

.form-control {
    padding-bottom: 20px;
}


    